<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'Schedule',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer class="slp-my-96">
    <SlpRow>
      <SlpColumn :cols="8" class="slp-mb-65">
        <img
          src="/nuxt-images/icons/events/bulb-bolt-black.svg"
          style="width: 32px"
        />
        <SlpTypography variant="heading2-bold" tag="h2" class="slp-pb-24">
          {{ data.title }}
        </SlpTypography>
        <SlpTypography variant="heading5-bold" tag="p" class="slp-pb-24">
          {{ data.description }}
        </SlpTypography>
        <SlpColumn v-if="data.body" :cols="9" class="slp-pb-16">
          <SlpTypography
            v-for="item in data.body"
            :key="item"
            class="slp-pb-16"
            variant="body1"
            tag="p"
          >
            {{ item }}
          </SlpTypography>
        </SlpColumn>
        <SlpButton
          v-if="data.call_to_action"
          :href="data.call_to_action.button_link"
          variant="primary"
          class="slp-mb-64"
        >
          {{ data.call_to_action.button_text }}
        </SlpButton>
      </SlpColumn>
    </SlpRow>
    <div class="schedule slp-mt-64">
      <div
        v-for="(item, index) in data.schedule_list"
        :key="index"
        class="schedule__wrapper"
      >
        <SlpTypography
          variant="body1-bold"
          tag="p"
          class="slp-pb-24 slp-flex"
          style="gap: 8px"
        >
          <img src="/nuxt-images/icons/events/calendar.svg" />
          {{ item.date }}
        </SlpTypography>
        <div
          v-for="(event, index) in item.events"
          :key="index"
          class="slp-p-16"
          :class="index % 2 === 0 ? 'schedule__even' : 'schedule__odd'"
        >
          <SlpTypography variant="body2-bold">{{
            event.speaker
          }}</SlpTypography>
          <SlpTypography variant="body2" class="slp-pl-8">{{
            event.title
          }}</SlpTypography>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.schedule {
  display: flex;
  gap: $spacing-32;
  flex-wrap: nowrap;

  @media screen and (min-width: $breakpoint-lg) {
    // https://stackoverflow.com/a/12198561
    @for $i from 2 through 4 {
      &__wrapper:first-child:nth-last-child(#{$i}),
      &__wrapper:first-child:nth-last-child(#{$i}) ~ div {
        width: calc(100% /#{$i});
      }
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    flex-direction: column;
  }

  &__odd {
    background: #eee7fd;
  }

  &__even {
    background: #f6f3fe;
  }
}
</style>
