<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  Conduct,
  Careers,
  EventsSchedule,
  SpeakerSession,
  Party,
} from '../../components/events/index.vue';
import {
  KubeconHero,
  KubeconIntro,
  KubeconSection,
} from '../../components/events/kubecon/index.vue';

export default Vue.extend({
  components: {
    NextStep,
    Conduct,
    Careers,
    EventsSchedule,
    Party,
    KubeconHero,
    KubeconIntro,
    KubeconSection,
    SpeakerSession,
  },
  async asyncData({ $content, params }: any) {
    const content = await $content('events/aws-reinvent', params.slug).fetch();
    return { content };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <KubeconHero :data="content.hero" :dark-mode="false" />
    <KubeconIntro :data="content.intro" :side="true" />
    <KubeconSection
      style="padding-top: 0"
      :offset-image="-200"
      :data="content.gitlab_booth"
    />
    <party :data="content.party" />
    <SpeakerSession :data="content.speaker_session" />
    <EventsSchedule :data="content.schedule" :has-dark-background="true" />
    <Careers />
    <Conduct />
    <NextStep />
  </div>
</template>
