<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <div class="solutions-landing-header">
    <SlpTypography tag="h1" variant="display1" class="title">
      {{ data.title }}</SlpTypography
    >
    <SlpTypography tag="h2" variant="heading5" class="subtitle">
      {{ data.subtitle }}
    </SlpTypography>
    <div class="buttons">
      <SlpButton
        v-if="data.primary_btn"
        :href="data.primary_btn.url"
        class="primary-button"
      >
        {{ data.primary_btn.text }}
      </SlpButton>
      <SlpButton
        v-if="data.secondary_btn"
        :href="data.secondary_btn.url"
        variant="secondary"
        class="secondary-button"
      >
        {{ data.secondary_btn.text }}
      </SlpButton>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.solutions-landing-header {
  margin: $spacing-96 0;
  .title,
  .subtitle {
    margin-bottom: $spacing-24;
  }
  .primary-button {
    margin-right: $spacing-8;
  }
  .secondary-button {
    color: inherit;
  }
}

@media (max-width: $breakpoint-lg) {
  .buttons {
    display: flex;
    flex-direction: column;
    .primary-button,
    .secondary-button {
      justify-content: center;
    }
    .primary-button {
      margin-bottom: $spacing-8;
    }
  }
}
</style>
